body{
    font-size: 200%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px gray;
    font-weight: 200;
}

header{
    background-image: linear-gradient(to top, rgba(61, 135, 231, 0.6), rgba(93, 122, 201, 0.4)), url(../images/globe-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    padding: 7%;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 15px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}

p{
    font-weight: 100;
}

.filter-value{
    color: red;
    font-style: italic;
}

.filter-counter{
    color: greenyellow;
}

.button-wrapper{
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    flex-grow: 5;
    gap: 2%;
    margin-bottom: 1%;
}


.btn{
    user-select: none;
    display:inline-block;
    color: white;
    text-align: center;
    background-color: rgb(123, 83, 210);
    border: 1px rgb(123, 83, 210);
    border-radius: 5px;
    box-shadow: 2px 2px 20px black;
    min-width: 45px;
    height: 45px;
    margin-bottom: 2.5%;
    transition-duration: 0.3s;
    font-size:70%;
    letter-spacing: 1px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 250%;
    overflow: hidden;
    white-space: nowrap;
}

.btn:active{
    color: gray;
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(88, 28, 184);
    border: 5px rgb(88, 28, 184);
}

.toggle{
    display: none;
}

.toggle:checked ~ .btn{
    color: lightgray;
    background-color: rgb(88, 28, 184);
    border: 5px rgb(88, 28, 184);
}

.toggle:checked ~ .ascend-descend::before{
    content: url(https://img.icons8.com/?size=40&id=a0bAWjN2IPpJ&format=png&color=FFFFFF);
}

.ascend-descend::before{
    content: url(https://img.icons8.com/?size=40&id=14337&format=png&color=FFFFFF);
}

.search-wrapper{
    display: flex;
    justify-content: center;
}

.search-country{
    text-align: center;
    width: 35%;
    height: 35px;
    border-radius: 25px;
}

#searchImage{
    content: url(https://img.icons8.com/?size=40&id=123415&format=png&color=FFFFFF);
}

.wrapper{
    margin: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 7%;
    gap: 40px;
}

.country-node{
    background-image: linear-gradient(to top, rgba(9, 46, 92, 0.6), rgba(93, 122, 201, 0.4)), url(../images/map_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.country-node.text{
    text-align: center;
    font-weight: bold;
}